<%! from django.utils.translation import ugettext as _, get_language %>
<%! from django.core.urlresolvers import reverse %>
<%! from django_countries import countries as COUNTRIES %>
<%! from django.core.context_processors import csrf %>

<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
<h1>${_("FAQ")}</h1>

 <section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>الأسئلة الأكثر تكرارا</h2>
                <hr>
            </div>
        </div>
        <div class="accordion question" id="accordion2">
            <h3>أسئلة متعلقة بمنصة زادي</h3>
            <hr>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle question collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> فكرة منصة زادي غير واضحة بالنسبة إلي، الرجاء التوضيح؟ </a> </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px;"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نوفر في زادي مساقات تعليمية مجانية تقدم عبر الإنترنت عبر خبراء عالميين. كما نوفر أيضاً مساقات مترجمة مبنية على مساقات تقدم في جامعة هارفرد الأمريكية ومعهد ماستشوستس للتكنولوجيا. كل ما تحتاجه هو جهاز كمبيوتر و انترنت للبدء بالتعلم مجاناً عن بعد. الرجاء مشاهدة هذا الفيديو للمزيد من التفاصيل: <a href="http://bit.ly/1jCUJJ3">http://bit.ly/1jCUJJ3</a> كما ويمكنك التسجيل مجاناً عبر اختيار المساق الذي يناسبك عبر موقعنا الإلكتروني: <a href="http://www.edraak.org/all_courses">www.edraak.org/all_courses</a></p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"> من يمكنه التسجيل في مساقات زادي؟ </a> </div>
            <div id="collapse2" class="accordion-body collapse" style="height: 0px;"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> مساقات زادي متاحة للجميع. فأي شخص لديه الرغبة بالتعلّم مرحّب به</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"> كيف يمكنني التسجيل؟</a> </div>
            <div id="collapse3" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <ol>
                        <li> قم بإنشاء حساب خاص بك على الموقع</li>
                        <li> فعّل حسابك عبر تفقد البريد الإلكتروني الذي تم تزويده في صفحة التسجيل ومن ثم الضغط على رابط التفعيل.</li>
                        <li> سجّل بأي من مساقات زادي</li>
                    </ol>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"> هناك خطأ في التسجيل، أرجو المساعدة؟</a> </div>
            <div id="collapse4" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> يرجى التأكد من تعبئة جميع الخانات في صفحة التسجيل والتأكد من صحتها وبالأخص الإيميل. بعدها ستصلك رسالة تفعيل على الإيميل الذي تم تزويده في صفحة التسجيل. احرص على تفقد صندوق البريد غير المرغوب فيه (Junk/Spam Folder) ممكن أن تكون وصلت رسالة التفعيل إليه</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5"> ما هي رسوم الإشتراك؟</a> </div>
            <div id="collapse5" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> ليست هناك أي رسوم للإشتراك فجميع مساقات زادي متاحة بشكل مجاني لكل من أراد المعرفة</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6"> ما هي اللغة التي ستقدم بها المساقات ؟</a> </div>
            <div id="collapse6" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> سيتم تقديم معظم المساقات باللغة العربية. هناك القليل من المساقات التي ستقدم بلغة أخرى ولكن ستكون مترجمة إلى اللغة العربية</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7"> كيف يمكنني الإطلاع على المادة الخاصة بالمساق؟</a> </div>
            <div id="collapse7" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> مساقات زادي متاحة للجميع. فأي شخص لديه الرغبة بالتعلّم مرحّب به. هناك نبذة عن المساق على موقعنا: <a href="http://www.edraak.org">www.edraak.org</a> عند بدء المساق  ستظهر أيقونة (استعراض المساق) للمسجلين في المساق.  قم بالضغط عليها للتوجه إلى لوحة المعلومات التي  تضمن محتويات المساق، منهاج المساق، حلقات المناقشة والمزيد. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8"> هل هناك امتحانات عند نهاية محاضرات المساق ؟</a> </div>
            <div id="collapse8" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> سيكون هناك امتحانات لبعض المساقات ولكنها اختيارية لمن يرغب بالحصول على شهادة اتمام المساق. إن وجدت سيعلن عنها في الصفحة الخاصة بالمساق.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9"> ما هو المقصود بكلمة مساق ؟</a> </div>
            <div id="collapse9" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نعني بمساق برنامج تعليمي تفاعلي مفتوح المصادر يقدم عبر الإنترنت</p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10"> ما هو المقصود بميثاق الشرف؟</a> </div>
            <div id="collapse10" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> هوتعهّد يقدمه المنتسب بالإلتزام بالقوانين والأخلاقيات التي تحددها زادي لضمان عملية تعليمية سلسة وذات مستوى عالٍ. للمزيد من التفاصيل يرجى زيارة الرلبط التالي: <a href="http://www.edraak.org/honor">www.edraak.org/honor</a></p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="accordion question" id="accordion3">
            <h3>أسئلة متعلقة بالمساقات</h3>
            <hr>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11"> متى يبدأ المساق/ما هي فترة المساق؟ </a> </div>
            <div id="collapse11" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> يمكنك معرفة مدة وتاريخ بدء المساق عبرالصفحة الخاصة بالمساق. إذا كنت من المسجلين في المساق سيظهر تاريخ بدء المساق ومدته على لوحة المعلومات الخاصة بالمسجّل. كما سيتم إرسال بريد إلكتروني لتذكير المسجلين قبل بدء المساق ببضعة أيام. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12"> في أي ساعة ستظهر مادة المساق؟ </a> </div>
            <div id="collapse12" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> هناك مواعيد محددة لبدء كل محاضرة. لكن في حال عدم توفر مادة المساق في الوقت المعلن عنه. يرجى التحقق مرة أخرى في وقت لاحق خلال اليوم. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13"> كيف يمكنني تسجيل الدخول للحساب الذي أنشأته على موقع زادي؟ </a> </div>
            <div id="collapse13" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> انقر على كبسة الدخول على الصفحة الرئيسية لموقع edraak.org  ثم قم بكتابة البريد الإلكتروني الخاص بك وكلمة المرور لتتمكن من الدخول إلى لوحة المعلومات الخاصة بك. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14"> هل يمكن أن أسجل في أكثر من مساق واحد؟ </a> </div>
            <div id="collapse14" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نعم بالتأكيد يمكنك ذلك، ننصحك بالقيام بذلك لتوسيع آفاقك التعليمية. احرص على التحقق من متطلبات كل مساق للموازنة بين الجهد المطلوب والساعات المتاحة لديك. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15"> كم ساعة دراسية يتطلب كل مساق؟ </a> </div>
            <div id="collapse15" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> تتوفر عدد الساعات المتوقعة للدراسة  لكل مساق في الصفحة الخاصة به. إن لم تجدها مسردة يرجى مراجعة جدول المساق لاحقاً  أو عند بدء المساق. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse16"> ما هي المتطلبات التي يجب القيام بها قبل بدء المساق؟ </a> </div>
            <div id="collapse16" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> معظم المساقات لا تتطلب تحضيرات قبل بدئها. إذا كان هناك متطلبات خاصة لأي مساق فستكون هذه المعلومات متوفرة في الصفحة الخاصة بالمساق. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse17"> ما هي المادة التي ينبغي علي قرائتها؟ </a> </div>
            <div id="collapse17" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> تتوفر هذه المعلومات على الصفحة الخاصة بالمساق. للمواد القراءة التكميلية، يمكنك طرح هذا السؤال على حلقات المناقشة لتحصل على اقتراحات من زملائك أو المشرفين على المساق. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse18"> ماذا يحصل إن فوّت أسبوع من المساق؟ هل يمكن أن يؤثر على تحصيلي الدراسي؟ </a> </div>
            <div id="collapse18" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> إذا فاتك أي من محاضرات المساق فلا يزال بإمكانك مشاهدتها والحصول على مادة المحاضرة عبر صفحة مستجدات المساق. لكن يجب الإلتزام بمواعيد تسليم الواجبات والأنشطة،  لذا احرص على تفقد خطة المساق ومواعيد استحقاق  الأنشطة والواجبات. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse19"> هل يمكن أن أحصل على تمديد إن منعتني ظروفي من تسليم الواجبات في وقتها المحدد؟ </a> </div>
            <div id="collapse19" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> مواعيد التسليم ثابتة ومحددة، لن نتمكن من إعطاء تمديدات لأي من المتعلمين. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse20"> كيف يمكنني مناقشة المحاضرات والتفاعل مع زملائي؟ </a> </div>
            <div id="collapse20" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> هناك قسم خاص للمناقشة في كل مساق يتم عن طريقه التفاعل بين جميع المتعلمين. حيث يمكنك من خلاله تبادل وجهات النظر مع المنتسبين حول القضايا المتعلقة بمحتوى المساق. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse21"> كيف يمكنني التواصل مع مشرفي المساق؟ </a> </div>
            <div id="collapse21" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> يمكنك التواصل مع مشرفي المساق عبر حلقات النقاش للمساق. حيث سيتمكن مشرفي المساق من طرح مواضيع للنقاش والإجابة على استفساراتك. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse22"> هل سيتم توفير المساقات مرة أخرى في المستقبل؟ </a> </div>
            <div id="collapse22" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نعم سيتم طرح معظم المساقات مرة أخرى في المستقبل. إذا كنت مسجل على موقع زادي سيتم إرسال بريد إلكتروني لك بالمساقات الجديدة والمساقات التي سيتم إعادة تقديمها. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse23"> هل مازال بإمكاني التسجيل في المساق إذا بدأ؟ </a> </div>
            <div id="collapse23" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نعم، لكن لن يكون بإمكانك تسليم الواجبات أو تقديم الإختبارات المستحقة. إن لم يفوتك الكثير فسيكون بإمكانك إكمال ما يكفي من الواجبات والإمتحانات لكسب شهادة الإتمام. أرجو مراجعة صفحة المساق لمعرفة المزيد </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="accordion question" id="accordion4">
            <h3>أسئلة متعلقة بالشهادة</h3>
            <hr>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse24"> هل يوجد شهادة للمساق؟ </a> </div>
            <div id="collapse24" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> نعم نقدم شهادة اتمام للراغبين في الحصول عليها عند اكمال المساق والنجاح بالإختبارات والواجبات. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse25"> هل الشهادة معتمدة؟ </a> </div>
            <div id="collapse25" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> الشهادة مقدمة من قبل مؤسسة زادي للتعليم والتنمية. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse26"> كيف سيتم الحصول على شهادة الإتمام؟ </a> </div>
            <div id="collapse26" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> بإمكانك إصدار شهادة الإتمام عبر الموقع في حال إكمال متطلبات المساق بنجاح عبر التوجه إلى صفحة معلوماتك على الموقع ومن ثم الضغط على <b>إصدار الشهادة</b>. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse27"> هل يمكن أن أحصل على نسخة مطبوعة لشهادتي؟ </a> </div>
            <div id="collapse27" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> سنقوم بتزويد كل من يكمل متطلبات المساق بشهادة ترسل إلكترونياً. في حال الرغبة في الحصول على نسخة مطبوعة فإمكانك طباعتها بنفسك. </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="accordion question" id="accordion5">
            <h3>أسئلة أخرى</h3>
            <hr>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse28"> ماذا أفعل إذا كان الإسم العلني الذي أدخلته غير متوفر؟ أو تم استخدامه من قبل مسجّل آخر؟ </a> </div>
            <div id="collapse28" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> لكل مستخدم اسم علني خاص به، قم بإضافة رقم معين مثلاً إلى أخر إسمك العلني إن لم يكن الإسم الذي أدخلته متاح. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse29"> ماذا أفعل إذا نسيت كلمة المرور التي استخدمتها لإنشاء حسابي على زادي؟ </a> </div>
            <div id="collapse29" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> انقر على "نسيت كلمة السر" الموجود أسفل حقل كلمة المرور ومن ثم أدخل البريد الإلكتروني الخاص بك والذي تم استخدامه عند التسجيل لتلقي  رسالة تسمح لك بإعادة تعيين كلمة المرور الخاصة بك. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse30"> أين أجد رسالة التفعيل؟ </a> </div>
            <div id="collapse30" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> يرجى التأكد من تعبئة جميع الخانات في صفحة التسجيل والتأكد من صحتها وبالأخص الإيميل. بعدها ستصلك رسالة تفعيل على البريد الإلكتروني الذي تم تزويده في صفحة التسجيل. احرص على تفقد صندوق البريد الغير مرغوب به (الـ Junk/Spam Folder) ممكن أن تكون وصلت رسالة التفعيل إليه. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse31"> كيف تتم عملية تفعيل الحساب؟ </a> </div>
            <div id="collapse31" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> عند قيامك بالتسجيل ستصلك رسالة على البريد الإلكتروني الذي تم تزويده في صفحة التسجيل تحتوي على رابط لتفعيل الحساب. قم بالضغط على الرابط للتفعيل </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse32"> أين المكان الذي سيعقد فيه المساق؟ </a> </div>
            <div id="collapse32" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> جميع مساقات زادي تقدم مجاناً عبر الإنترنت على موقع زادي <a href="http://www.edraak.org">www.edraak.org</a> لأي شخص في العالم </p>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-group">
            <div class="accordion-heading"> <span class="ui-icon ui-icon-triangle-1-e"></span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse33"> إذا اشتركت بأحد المساقات ولم أستطع اكماله أو لم أتابعه بشكل جيد هل هناك عقوبات أو ما شابه؟ </a> </div>
            <div id="collapse33" class="accordion-body collapse"> <br>
                <div class="accordion-inner">
                    <p> <i class="fa fa-chevron-left"></i> كلا، ليس هناك أي عقوبات على المسجلين الذين لم تمكنهم ظروفهم من إكمال أو متابعة المساق. لكن لن يحصل المسجلين على شهادة اتمام إن لم يكملوا متطلبات المساق. </p>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
