<%! from django.utils.translation import ugettext as _, get_language %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>من نحن</h2>
                <hr>
            </div>
            <div class="col-lg-12">
                <article class="clearfix mar-top25 mar-bot25">
                    <div class="pull-left col-sm-4 mar-bot10" > <img class="img-responsive" src="/static/themes/edraak/images/shutterstock_236161768.jpg"> </div>
                    <p class="zadi_text_fonts"> تفتخر مؤسسة زادي برعاية الصندوق العربي للإنماء الاقتصادي والاجتماعي لمنصة زادي وهي الشراكة التي ستقوم بتوفير تعليم نوعي للشعوب العربية على نطاق أوسع.
                        
                        الصندوق العربي للإنماء الاقتصادي والاجتماعي، والذي يتخذ من دولة الكويت مقراً له، مؤسسة مالية إقليمية عربية تنصب أغراضه في تمويل المشروعات الإنمائية الاقتصادية والاجتماعية، وذلك من خلال تمويل المشاريع الاستثمارية العامة والخاصة، وتقديم المعونات والخبرات الفنية. وتتميز أنشطة الصندوق العربي بعدد من الجوانب الهامة التي تجعل منه نموذجاً للتعاون والتكامل الاقتصادي العربيين، وتجسيداً للعمل العربي المشترك المتميز. </p>
                </article>
                <hr>
                <article class="clearfix mar-top25 mar-bot25">
                    <div class="pull-right col-sm-4 mar-bot10" > <img class="img-responsive" src="/static/themes/edraak/images/shutterstock_176615030.jpg"> </div>
                    <p class="zadi_text_fonts"> الشركاء المؤسسون
                        
                        منذ أن كانت مجرد فكرة، كانت منصة زادي مبادرة عربية، هدفها خدمة كافة الشعوب العربية من المحيط إلى الخليج. وبناءً على ذلك فقد التمست مؤسسة زادي الدعم في هذه المبادرة من القادة العرب ذوي الرؤية، الذين يعملون لمستقبل أفضل لمنطقتنا العربية.
                        
                        تفتخر مؤسسة زادي بالإعلان عن انضمام الفريق أول سمو الشيخ محمد بن زايد آل نهيان، ولي عهد أبوظبي، نائب القائد الأعلى للقوات المسلحة لدولة الإمارات العربية المتحدة ورئيس المجلس التنفيذي في أبوظبي، كأول شريك مؤسس لمنصة زادي، إيماناًمن سموه بأهمية التعليم للشباب في الوطن العربي. </p>
                </article>
                <hr>
                <article class="clearfix mar-top25 mar-bot25">
                    <div class="pull-left col-sm-4 mar-bot10" > <img class="img-responsive"  src="/static/themes/edraak/images/shutterstock_138225764.jpg"> </div>
                    <p class="zadi_text_fonts"> تفتخر مؤسسة زادي برعاية الصندوق العربي للإنماء الاقتصادي والاجتماعي لمنصة زادي وهي الشراكة التي ستقوم بتوفير تعليم نوعي للشعوب العربية على نطاق أوسع.
                        
                        الصندوق العربي للإنماء الاقتصادي والاجتماعي، والذي يتخذ من دولة الكويت مقراً له، مؤسسة مالية إقليمية عربية تنصب أغراضه في تمويل المشروعات الإنمائية الاقتصادية والاجتماعية، وذلك من خلال تمويل المشاريع الاستثمارية العامة والخاصة، وتقديم المعونات والخبرات الفنية. وتتميز أنشطة الصندوق العربي بعدد من الجوانب الهامة التي تجعل منه نموذجاً للتعاون والتكامل الاقتصادي العربيين، وتجسيداً للعمل العربي المشترك المتميز. </p>
                </article>
            </div>
        </div>
    </div>
</section>
