<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<section class="container activation" style="padding-top:240px; padding-bottom:138px;">

  <section class="message">
    %if not already_active:
      <h1 class="valid">${_("Activation Complete!")}</h1>
    %else:
      <h1>${_("Account already active!")}</h1>
    %endif
    <hr class="horizontal-divider">

    <p>
      %if not already_active:
        ${_("Thanks for activating your account.")}
      %else:
        ${_("This account has already been activated.")}
      %endif

      %if user_logged_in:
        ${_("Visit your {link_start}dashboard{link_end} to see your courses.").format(link_start='<a href="{url}">'.format(url=reverse('dashboard')), link_end='</a>')}
      %else:
        ${_("You can now {link_start}log in{link_end}.").format(link_start='<a href="{url}">'.format(url=reverse('signin_user')), link_end='</a>')}
      %endif
    </p>
  </section>
</section>
