<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<section class="container activation" style="padding-top:240px; padding-bottom:138px;">

  <section class="message">
    <h1 class="invalid">${_("Activation Invalid")}</h1>
    <hr class="horizontal-divider">

    <p>${_('Something went wrong. Check to make sure the URL you went to was '
           'correct -- e-mail programs will sometimes split it into two '
           'lines. If you still have issues, e-mail us to let us know what happened '
           'at {email}.').format(email='<a href="mailto:{email}">{email}</a>'.format(email=settings.BUGS_EMAIL))}</p>

    <p>${_('Or you can go back to the {link_start}home page{link_end}.').format(link_start='<a href="/">', link_end='</a>')}</p>
  </section>
</section>
