{% extends "main_django.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Your Password Reset is Complete" %}</title>
{% endblock %}

{% block bodyextra %}
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>
{% endblock %}

{% block bodyclass %}view-passwordreset{% endblock %}

{% block body %}

  <section class="passwordreset container" style="padding-top: 320px;padding-bottom: 160px;">
    {% block content %}
    <section role="main" class="content">
      {% blocktrans with link_start='<a href="/login">' link_end='</a>' %}
      Your password has been set.  You may go ahead and {{ link_start }}log in{{ link_end }} now.
      {% endblocktrans %}
    </section>
    {% endblock %}
  </section>
{% endblock %}
