<%! from django.utils.translation import ugettext as _, get_language %>
<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section, get_course_syllabus_section
  from courseware.access import has_access
  from django.conf import settings
  from edxmako.shortcuts import marketing_link
  tiny_course_url = 'tinyurl'
  if settings.FEATURES.get('ENABLE_SHOPPING_CART'):
      cart_link = reverse('shoppingcart.views.show_cart')
  else:
      cart_link = ""
%>
<%namespace name='static' file='../static_content.html'/>
<%! from microsite_configuration import microsite %>

<%inherit file="../main.html" />
<%block name="bodyclass">edraak-course-about-body</%block>


<%block name="headextra">

  <%
    if self.theme_enabled():
      google_analytics_file = u'../{ga}'.format(
        ga=microsite.get_value('google_analytics_file', 'theme-google-analytics.html')
      )
    else:
      google_analytics_file = '../google_analytics.html'
  %>

  <%include file="${google_analytics_file}" />

  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta content="${get_course_about_section(course, 'short_description')}" name="description">
  <meta content="${request.environ['HTTP_HOST']}${course_image_url(course)}" itemprop="image">
  <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
  <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
  <meta property="og:url" content="${request.path}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="${request.environ['HTTP_HOST']}${course_image_url(course)}" />
</%block>

<%block name="js_extra">

 
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if settings.FEATURES.get('ENABLE_SHOPPING_CART') and settings.FEATURES.get('ENABLE_PAID_COURSE_REGISTRATION'):
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_('An error occurred. Please try again later.')}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };
      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id])}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id])}?course_id=${course.id}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        location.href = "${reverse('register_user')}?course_id=${course.id}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>


    <script type="text/javascript" charset="utf-8" 
          src="/static/themes/edraak/js/jquery.raty.min.js">
  </script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

         $('.thingrating').each(function(index){
          $(this).raty({
            readOnly:  true,
            path: "/static/themes/edraak/images/rating",
            start: $(this).children("span:first").text(),
            click: function(score, evt) {
                var vote_url = "rate/" + $(this).children("span:first").text()
                                       +  "/" 
                                       + score 
                                       + "/";
                $.ajax({
                  url: vote_url,
                  success: function(){
                    alert(' ... شكرا لتقييمك هذه الحزمة');
                  },
                  error: function(request,status,error){
                    alert(error);
                  }
                });
            }
          });
        });
    });
  </script>


</%block>

<%block name="pagetitle">${_("About {course.display_number_with_default}").format(course=course) | h}</%block>



<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mar-top25">
                
                <div class="row">
                    <div class="col-md-5 mar-bot20" >
                        
                        <div class="wrapper animate3">
                            <div class="h_iframe"> <img class="img-responsive" src="/static/themes/edraak/images/Macbook-Flat.21de5ebeab37.png">${get_course_about_section(course,'video')}
                    </div>    
                        </div>
                    </div>

                    <div class="col-md-4 mar-bot20" >
                        <h3> ${course.display_number_with_default | h}: ${get_course_about_section(course, "title")} </h3>
                        <h5>المؤسسة المقدمة للمساق : ${get_course_about_section(course, "university")} </h5>


                        <%
                        
                        initial_rating_score = course._edit_info['total_rating_count']/course._edit_info.get('student_count',0) if course._edit_info.get('student_count',0) >0 else 0
                        
                        total_voters_number = course._edit_info.get('student_count',0)

                        %>

                        <div class="thingrating" >
                            <span style="display:none;">${initial_rating_score}</span>     
                        </div>
                        

                        <b> عدد المصوتين على هذا المساق: </b> ${total_voters_number}
                        <br/>

                

                          
                        %if user.is_authenticated() and registered:
          
                            %if show_courseware_link:
                              <a class="mar-top20 btn btn-success btn-lg" href="${course_target}">
                                  <p>${_("You are registered for this course")}</p>
                                      <strong>${_("View Courseware")}</strong>
                              </a>
                            
                              
                            %else:
                            
                              <span class="about-register ">${_("You are registered for this course")}</span>
                            
                            %endif

                          

                          
                        %elif in_cart:
                          
                            <span class="add-to-cart">
                              ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
                            </span>

                          
                          

                        %elif settings.FEATURES.get('ENABLE_PAID_COURSE_REGISTRATION') and registration_price:
                          
                            <%
                            if user.is_authenticated():
                              reg_href = "#"
                              reg_element_id = "add_to_cart_post"
                            else:
                              reg_href = reg_then_add_to_cart_link
                              reg_element_id = "reg_then_add_to_cart"
                            %>
                            <a href="${reg_href}" class="add-to-cart mar-top20 btn btn-success btn-lg" id="${reg_element_id}">
                              ${_("Add {course.display_number_with_default} to Cart ({currency_symbol}{cost})")\
                                .format(course=course, currency_symbol=settings.PAID_COURSE_REGISTRATION_CURRENCY[1],
                                        cost=registration_price)}
                            </a>
                            <div id="register_error"></div>
                          




                        % elif is_course_full:
                            <span class="register disabled">
                              ${_("Course is full")}
                            </span>
                          



                        %else:



                            <a href="#" class="register mar-top20 btn btn-success btn-lg">
                              ${_("Register for {course.display_number_with_default}").format(course=course) | h}
                                 % if get_language() == 'ar':
                                      <img src="${static.url('themes/edraak/images/all_courses_left.png')}" />
                                  % else:
                                      <img src="${static.url('themes/edraak/images/all_courses_right.png')}" />
                                  % endif
                            </a>


                            <div id="register_error"></div>
                          


                        %endif 

                    </div>



                    <div class="col-md-3 mar-bot20">
                        <div class="detailsCourse">
                            <ul class="block-list">

                                <li data-field="level"> <span class="block-list__label"> <span class="fa fa-anchor fa-lg" aria-hidden="true"></span> ${_("Course Number")} : </span> <span class="block-list__desc"> ${course.display_number_with_default | h} </span> </li>

                                <li data-field="level"> <span class="block-list__label"> <span class="fa fa-calendar fa-lg" aria-hidden="true"></span> يبدأ : </span> <span class="block-list__desc"> ${course.start_date_text} </span> </li>

                                <li data-field="level"> <span class="block-list__label"> <span class="fa fa-calendar-o fa-lg" aria-hidden="true"></span> ينتهي : </span> 
                                  <span class="block-list__desc"> 

                                    % if course.end_date_text:

                                      ${course.end_date_text} 

                                    % else:

                                      غير محدد

                                    % endif


                                  </span> </li>

                                <li data-field="level"> <span class="block-list__label"> <span class="fa fa-history fa-lg" aria-hidden="true"></span> عدد الساعات الاسبوعية: </span> 
                                <span class="block-list__desc"> 
                                 % if get_course_about_section(course, "effort"):
                                  ${get_course_about_section(course, "effort")} 
                                 % else:
                                    غير محدد
                                 % endif
                                </span> </li>

                                <li data-field="level"> <span class="block-list__label"> <span class="fa fa-clock-o fa-lg" aria-hidden="true"></span> طول المساق: </span> <span class="block-list__desc"> 

                                    % if getattr(course,'end'):

                                      ${ (course.end - course.start).days / 7 } اسبوع

                                    % else:

                                      غير محدد

                                    % endif

                                  </span> </li>
                            </ul>

                            <ul class="list-inline text-center social-icons-about-page">
                                <li>
                                    <a class="btn-social btn-twitter" onclick="window.open('http://www.twitter.com/intent/tweet?text= سجّلت بمساق:${get_course_about_section(course, 'title')}   ...زادي..العلم بين يديك &hashtags=#zadi_mooc', 'sharer', 'toolbar=0,status=0,width=548,height=325');">
                                        <i class="fa fa-twitter"> </i>
                                    </a> 
                                </li>
                                

                                <li>
                                    <a class="btn-social btn-facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=${request.environ['HTTP_HOST']}${request.path}', 'sharer', 'toolbar=0,status=0,width=548,height=325');">
                                        <i class="fa fa-facebook"> </i>
                                    </a> 
                                </li>


                                <li><a class="mail-icon" href="mailto:?Subject=زادي.. طريقك إلى العلم الشرعي!&body=http://www.zadi.net${reverse('about_course',args=[course.id])}" class="btn-social btn-vk"><i class="fa fa-envelope"></i></a></li>

                            </ul>
                        </div>
                    </div>





                    <! -- course details overview -->
                    <div class="col-md-12">
                        <div class="inner-wrapper text-center">
                            <hr>
                            <h3 class="text-center"><strong>حول ${get_course_about_section(course, "title")}</strong></h3>
                            <hr>
                            <p>${get_course_about_section(course, "overview")}</p>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>
</section>




%if not registered:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="enroll">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />