<%!
from django.utils import translation
from django.core.urlresolvers import reverse
%>

 <li>
          <a class="" href="/lang_pref/zad_setlang/?language=ar&next=/" 
            % if translation.get_language() == 'ar':
              style="display: none">عربي</a>
            % else:
              style="cursor: pointer">عربي</a>
            %endif

          <a class="" href="/lang_pref/zad_setlang/?language=en&next=/" 
            % if translation.get_language() == 'en':
              style="display: none">En</a>
            % else:
              style="cursor: pointer">En</a>
            %endif
</li>
