body {
  section:not(.edraak-course-info) {
    header.global {
      border-bottom: none;
    }
  }

  header.global {
    height: auto;
    box-shadow: none;

    h1.logo {
      margin: 15px 0;
    }

    ol.left {
      margin-top: 37px;
      @include float(right);;
    }

    ol.user {
      @include float(right);;
      margin-top: 31px;
      @include padding-left(5px);
      @include padding-right(0);

      li.primary:last-child {
        a {
          padding: 0 8px;
          line-height: 28px;
        }
      }

      ul.dropdown-menu.expanded {
        top: 28px;
      }
    }

    .nav-global {
      @include padding-right(0);

      li {
        @include border-right(1px solid #646464);
        margin: 0;
        @include padding-left(0);
        @include padding-right(5px);

        &:nth-child(n+5), &:last-child {
          // Keep the border only on the first 5 buttons
          @include border-right(0);
        }

        a {
          font-weight: normal;

          @include ltr {
            font-size: 15px;
          }

          @include rtl {
            font-size: 16px;
          }

          letter-spacing: 0px;
          padding: 5px;
          padding-top: 0;
        }
      }
    }
  }

  .content-wrapper {
    padding-bottom: ($baseline/2);
  }
}
