body {
  // Alternative to !important
  h1, h2, h3, h4, h5, h6 {
    font-family: $f-sans-serif;
  }

  h1 {
    margin-top: 0; // Reduce wasted whitespace on static pages.
  }

  p, ul, ol {
    font-family: $f-sans-serif;
  }

  a:link, a:visited {
    font-family: $f-sans-serif;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &.view-register,
  &.view-register,
  &.view-login,
  &.view-login,
  &.view-passwordreset,
  &.view-passwordreset {
    .content-wrapper {
      background-color: white;
    }

    .container, section.outside-app {
      padding: 0; // Removes uneeded nav padding in auth pages
    }

    .introduction {
      width: auto;

      header {
        .title {
          position: relative;
          top: 40px;
          right: auto;
          width: 960px;
          margin: 0 auto;

          .title-super, .title-sub {
            color: white;
            @include margin-left(0);
          }
        }
      }
    }
  }
}
