body, html {
  font-size: 1em !important;
}

body {
  .container {
    max-width: 1260px;
    width: 90%;
  }

  h1, h2 {
    letter-spacing: 0px;
  }
}

#remember-yes {
  margin-top: 5px;
}

body {
  select {
    color: #3c3c3c;
  }
}