
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../themes/edraak/fonts/DinTextArabic-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../themes/edraak/fonts/DINNextLTArabic-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
