.edraak-highlighted-courses {
  .courses {
    @include clearfix;
    padding: 17px 0px 15px;

    .university-column {

      &:nth-child(3n+3) {
      }
    }

    .courses-listing-item {

      &:nth-child(3n+3) {
      }
    }

    .course {
      border: 1px solid #CCCCCC;
      @include float(left);;
      width: 33%;
      height: 350px;
      margin-left: -1px;
      margin-bottom: -1px;

      .status {
        background: $link-color;
        color: white;
        font-size: 10px;
        @include ltr {
          left: 0;
        }

        @include rtl {
          left: 10px;
        }
        padding: 2px 10px;
        border-radius: 2px;
        position: relative;
        text-transform: uppercase;
        top: -6px;
        z-index: 100;
      }

      .status:after {
        border-bottom: 6px solid shade($link-color, 50%);
        border-right: 6px solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: -6px;
        top: 0;
        width: 0;
      }

      a {
        position: relative;
        display: block;
        text-transform: none;

      }

      a:hover, a:focus {
        text-decoration: none;
      }

      .meta-info {
        background: $dark-trans-bg;
        bottom: 6px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        @include border-right-radius(2px);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        @include clearfix;
        position: absolute;
        right: -4px;
        @include transition(all 0.15s linear 0s);

        p {
          color: rgb(255, 255, 255);
          font-style: italic;
          line-height: 1.2em;
          padding: 4px 12px 5px;
        }
      }

      .inner-wrapper {
        height: 100%;
        height: 321px;
        overflow: hidden;
        padding: 15px;

        .start-end {
          font-size: 13px;
          margin-top: 52px;
          line-height: 16px;
          margin-right: 10px;

          .desc {
            @include float(right);;
            padding: 0 5px;
            color: white;
            margin-top: 3px;

            &:nth-child(odd) {
              background-color: #CF2B1F;
            }

            &:nth-child(even) {
              background-color: #CF2B1F;
            }

            p {
              color: white;
            }
          }
          .bottom {
            @include float(left);;
          }
        }
      }

      header.course-preview {
        width: 100%;
        background-image: none;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);

        hgroup {

          h2 {
            height: 82px;
            text-overflow: ellipsis;
            font-size: 22px;
            color: #000000;
            font-weight: bold;
            padding: 10px;

            .course-number {
              font-size: 20px;
              color: #000000;
              font-weight: bold;
              padding: 0 10px;
              text-overflow: ellipsis;
              max-height: 60px;
            }
            .course-number-hidden {
              color: #000000;
            }
            .name-org {
              font-size: 14px;
              margin-top: 5px;
            }
            .show-course-details {
              display: none;
              color: white;
            }
            &:hover {
              .course-number-hidden {
                display: none;
              }
              .show-course-details {
                display: inline;
                color: white;

                div {
                  color: #6E6F71;
                }
              }
              ul {
                margin: 0 auto;
                padding: 0;
              }
              li {
                list-style-type: none;
                display: inline-block;
                margin-top: 10px;
                opacity: 0.65;
                @include margin-left(30px);
              }
              li {
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }

        .info-link {
        }

      }

      .info {

        &:hover {
          .course-number-hidden {
            display: none;
          }
          .show-course-details {
            display: inline;
            color: white;

            div {
              color: #6E6F71;
            }
          }
          ul {
            margin: 0 auto;
            padding: 0;
          }
          li {
            list-style-type: none;
            display: inline-block;
            margin-top: 10px;
            opacity: 0.65;
            @include margin-left(30px);
          }
          li {
            &:hover {
              opacity: 1;
            }
          }
        }

        .cover-image {
          height: 140px;
          overflow: hidden;

          img {
            width: 100%;
            min-height: 140px;
          }

        }

        .desc {
          section {
          }
        }

        .bottom {
          bottom: 0;
          position: absolute;

          .university {
          }

          .start-date {
            margin-top: 10px;
          }
        }
      }

      &:hover, &:focus {

        .info {
        }

        .meta-info {
        }
      }
    }

  }

  .all-courses {
    @include clearfix;
    padding: 17px 0px 15px;

    .university-column {

      &:nth-child(3n+3) {
      }
    }

    .courses-listing-item {

      &:nth-child(3n+3) {
      }
    }

    .course {
      border: 1px solid #CCCCCC;
      width: 100%;
      height: 350px;
      margin-bottom: 15px;

      .status {
        background: $link-color;
        color: white;
        font-size: 10px;
        left: 10px;
        padding: 2px 10px;
        border-radius: 2px;
        position: relative;
        text-transform: uppercase;
        top: -6px;
        z-index: 100;
      }

      .status:after {
        border-bottom: 6px solid shade($link-color, 50%);
        border-right: 6px solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: -6px;
        top: 0;
        width: 0;
      }

      a {
        position: relative;
        display: block;
      }

      a:hover, a:focus {
        text-decoration: none;
      }

      .meta-info {
        background: $dark-trans-bg;
        bottom: 6px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        @include border-right-radius(2px);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        @include clearfix;
        position: absolute;
        right: -4px;
        @include transition(all 0.15s linear 0s);

        p {
          color: rgb(255, 255, 255);
          font-style: italic;
          line-height: 1.2em;
          padding: 4px 12px 5px;
        }
      }

      .inner-wrapper {
        height: 100%;
        height: 321px;
        overflow: hidden;
        padding: 15px;
      }

      header.course-preview {
        width: 100%;
        // > a {
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);

        &:hover, &:focus {
          .info-link {
          }

          h2 {
          }
        }

        hgroup {

          h2 {
            height: 82px;
            text-overflow: ellipsis;
            font-size: 20px;
            color: #000000;
            font-weight: bold;
            padding: 10px;

            .course-number {
              font-size: 20px;
              color: #000000;
              font-weight: bold;
              padding: 0 10px;
              text-overflow: ellipsis;
              max-height: 60px;
            }
            .course-number-hidden {
              color: #000000;
            }
            .show-course-details {
              display: none;
              color: white;
            }
            &:hover {
              .course-number-hidden {
                display: none;
              }
              .show-course-details {
                display: inline;
                color: white;

                div {
                  color: #6E6F71;
                }
              }
              ul {
                margin: 0 auto;
                padding: 0;
              }
              li {
                list-style-type: none;
                display: inline-block;
                margin-top: 10px;
                opacity: 0.65;
                @include margin-left(30px);
              }
              li {
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }

        .info-link {
        }

      }

      .info {

        .cover-image {
          height: 140px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: left;

          img {
            width: 100%;
            min-height: 140px;
          }
        }

        .desc {
          section {
          }
        }

        .bottom {
          bottom: 0;
          position: absolute;

          .university {
          }

          .start-date {
          }
        }
      }

      &:hover, &:focus {

        .info {
        }

        .meta-info {
        }
      }
    }
  }

  .university-courses {
    .course {
      width: flex-grid(4);
      margin-right: flex-gutter();
      float: left;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}