@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 65px;
		color:#47a5ae;
font-style: normal;
clear:both;
display:inline-block;
margin:15px auto;
}
.flaticon-approval:before {
	content: "\e000";
	font-size:80px;
	border:1px solid #47a5ae;
		/*border:4px solid;
	border-color:rgba( 0,0,0,.1);*/
	padding:20%;
text-align:center;/*
background:#f8f8f8;*/
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.flaticon-goal5:before {
	content: "\e001";
		font-size:80px;
	border:1px solid #47a5ae;
		/*border:4px solid;
	border-color:rgba( 0,0,0,.1);*/
	padding:20%;
text-align:center;/*
background:#f8f8f8;*/
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.flaticon-group3:before {
	content: "\e002";
}
.flaticon-lightbulb24:before {
	content: "\e003";
}
.flaticon-multiple25:before {
	content: "\e004";
}
.flaticon-persons8:before {
	content: "\e005";
}
.flaticon-professor2:before {
	content: "\e006";
}
.flaticon-school47:before {
	content: "\e007";
}
.flaticon-teacher5:before {
	content: "\e008";
	font-size:80px;
	border:1px solid #47a5ae;
		/*border:4px solid;
	border-color:rgba( 0,0,0,.1);*/
	padding:20%;
text-align:center;/*
background:#f8f8f8;*/
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.flaticon-two205:before {
	content: "\e009";
}
.flaticon-user167:before {
	content: "\e00a";
	font-size:80px;
	border:1px solid #47a5ae;
		/*border:4px solid;
	border-color:rgba( 0,0,0,.1);*/
	padding:20%;
text-align:center;/*
background:#f8f8f8;*/
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.flaticon-users33:before {
	content: "\e00b";
}
.flaticon-users41:before {
	content: "\e00c";
}
.flaticon-users65:before {
	content: "\e00d";
}
