/* 
 * 	Default theme - Owl Carousel CSS File
 *	v2.0.0
 */

.owl-theme .owl-controls{
	margin-top: 35px;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div{
	color: #FFF;
	display: inline-block;
	margin: 5px;
	padding: 4px 7px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	cursor: pointer
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls .owl-nav div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling dots*/
.owl-theme .owl-dots .owl-dot{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-dots .owl-dot span{
	-webkit-backface-visibility: visible;
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
	transition-property: opacity;
  	transition-duration: 200ms;
  	transition-timing-function: ease;
}

.owl-theme .owl-dots .owl-dot.active span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

