@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {	font-family: 'Droid Arabic Naskh', Helvetica, Arial, sans-serif !important/*'Lato', sans-serif*/; font-weight:700;overflow-x: hidden;line-height: normal;color: #333;}
p, label {font-size: 13px;}
small {font-size: 10px;color: #002b3c !important}
a {color:#002b3c;}
a:hover, a:focus, a:active, a.active {outline: 0;color:#f58220;text-decoration: none}
h1, h2, h3, h4, h5, h6 {
	color:#002b3c;
	text-transform: uppercase;
	font-family: 'Droid Arabic Kufi', 'Droid Arabic Naskh', Helvetica, Arial, sans-serif !important/*'Lato', sans-serif*/; font-weight:700;
}
h3 {font-family: 'Droid Arabic Naskh', Helvetica, Arial, sans-serif !important/*'Lato', sans-serif*/; font-weight:700;}
h3, .h3 {
	font-size: 20px
}
hr.star-light, hr.star-primary {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}
hr.star-light:after, hr.star-primary:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
}
hr.star-light {
	border-color: #fff;
}
hr.star-light:after {
	color: #fff;
	background-color: #18bc9c;
}
hr.star-primary {
	border-color: #2c3e50;
}
hr.star-primary:after {
	color: #2c3e50;
	background-color: #fff;
}
.img-centered {
	margin: 0 auto;
}
header {
	padding:180px 0 2%;
	text-align: center;
	color: #333;
	background: #4eb66b;
	background: url(../images/shutterstock_1554281272.jpg); background-position: center; -webkit-background-size: cover;-moz-background-size: cover;background-size: cover; -o-background-size: cover;
}
header h2 {
color:#fff !important;
}
header hr {border-top:1px solid #308890}
.carousel {
	height: 462px;
}
.carousel h1 {
	margin:.27em 0;
	line-height:1em;
	text-align:right;
}
.carousel-caption i:before, .carousel-caption i:after, .carousel-caption i { color:#f58220 !important; margin:5px auto 0 !important; font-size:120px !important; }
.carousel-caption p {
	text-align:right;
	font-size: 20px;
	padding: 0;
	line-height: 2em
}

.ltr {
	direction: ltr;
}
.item, .active, .carousel-inner {
	height: 100%;
}
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.carousel-indicators {
	bottom: -40px;
}
header img {
	display: block;
	margin: 0 auto;
}
header .intro-text, header p{
	color:#fff; line-height: 2em; text-shadow: 1px 1px #666;
}
header p{
	font-size:2.5em;
	color:#fff;
}
header .intro-text .name {
	display: block;
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	font-size: 2em;
	font-weight: 700;
}
header .intro-text .skills {
	font-size: 1.25em;
	font-weight: 300;
}

@media(max-width:768px) {
	header p {font-size:2em}
	h2, .h2 {font-size:20px;}
	h3, .h3 {
	font-size: 15px
}
p {
  font-size: 11px;
}
	header {
	padding:100px 0 5%;
}
/*header .container {
	padding: 130px 0 50px;
}
header .intro-text .name {
	font-size: 5em;
}
header .intro-text .skills {
	font-size: 1.75em;
}*/
}

@media(min-width:768px) {
.navbar-fixed-top {
	padding: 36px 0;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
}
.navbar-fixed-top .navbar-brand {
	font-size: 2em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.navbar-fixed-top.navbar-shrink {
	padding: 10px 0;
}
}
.navbar-fixed-top.navbar-shrink .navbar-brand img {
	height: 100px;
    margin-top: -35px;
    padding: 25px 0;
    width: 221px;
}
.navbar {
	text-transform: uppercase;
	font-family: 'Droid Arabic Naskh', Helvetica, Arial, sans-serif !important/*'Lato', sans-serif*/; font-weight:700;
	font-size: 125%;
}
.navbar .btn-info:hover, .navbar .btn-success:hover {
	border:1px solid #fff !important;
}
.navbar a:focus {
	outline: 0;
}
.navbar .navbar-nav {
	letter-spacing: 0;
}
.navbar .navbar-nav li a:focus {
	outline: 0;
}
.navbar-default, .navbar-inverse {
	border-top: 5px solid #47a5ae;
}
section {
	padding: 65px 0;
}
section h3{
	margin: 0;
	line-height:2em;
}
section.success {
	background: #f7f8f8;
}
.navbar-brand img {
	margin-top: -22px;
}

@media(max-width:767px) {
.navbar-brand img {
  width: 221px;
  height: 50px;
  margin-top: -10px;
}
section {
	padding: 75px 0;
}
section.first {
	padding-top: 75px;
}
}
#portfolio {background:#fff url(../images/44.png); background-position: center; -webkit-background-size: cover;-moz-background-size: cover;background-size: cover; -o-background-size: cover;}
#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}
#portfolio h3 {padding:0 0 5px; }
.lecturer-data {padding:5px;}
.lecturer-data .users {margin:-44px auto 20px; width:100%; padding:0; top:267px; text-align:center;}
.lecturer-data .users span {padding:5px 10px; background:rgba(0,0,0,0.5); color:#FFF !important}
.lecturer-data p  {color:#333; padding:0}
.lecturer-data h3 {font-family:'Droid Arabic Naskh', Helvetica, Arial, sans-serif !important/*'Lato', sans-serif*/; font-weight:700;}
.lecturer-data h3 small {padding:5px;  background:#CCC}
#portfolio img {
margin-bottom:15px;
}
#portfolio p {
padding:5px 0;
}
#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(71,165,174, 0.8); 
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3, #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 0;
}
#portfolio * {
	z-index: 2;
}

@media(min-width:767px) {
#portfolio .portfolio-item {
	margin: 0 0 30px;
}
}
.btn-outline {
	margin-top: 15px;
	border: solid 1px #002b3c;
	font-size: 20px;
	color: #002b3c;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
	border: solid 1px #f58220;
	color: #fff;
	background: #f58220;
}
.floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	border-bottom: 1px solid #eee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	font-size: 1.5em;
	background: 0 0;
	box-shadow: none!important;
	resize: none;
}
.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: .85em;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease;
}
 .floating-label-form-group::not(:first-child) {
 padding-left: 14px;
 border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1;
}
.floating-label-form-group-with-focus label {
	color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee;
}
footer {
	color: #002b3c;
}
footer h3 {
	margin-bottom: 30px;
}
footer .footer-above {
		background:#47a5ae url(../images/shutterstock_1554281272.jpg); background-position: center; -webkit-background-size: cover;-moz-background-size: cover;background-size: cover; -o-background-size: cover;
}
footer .footer-col {
	margin-bottom: 50px;
}
footer .footer-below {
	padding: 25px 0;
	background-color: #fff;
	border-bottom: 5px solid #f58220;
}
footer .list2 li a small {font-weight:700; font-size:11px}
footer .list2 li {border-left:1px solid #999 ;}
footer .list2 li:last-child {border-left:none ;}
.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	color:#fff;
	border: 1px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 26px;
	line-height: 53px;
}
.btn:focus, .btn:active, .btn.active {
	outline: 0;
}
.scroll-top {
	z-index: 1049;
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
}
.scroll-top .btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 28px;
}
.scroll-top .btn:focus {
	outline: 0;
}

.btn {
border:none;
}
.btn-info, .btn-success {
	transition: all .3s ease-in-out; color:#FFF !important; text-shadow: 1px 1px #666;
}

.btn-info {
	display: inline-block;
}
.color-blue {
	color: #002b3c !important
}

@media(max-width:991px) {
.nav>li>a {
	padding: 10px 3px !important;
}
}


/***************wrapper iframe*****************/

.wrapper         {width:100%;height:100%;margin:0 auto;background:}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;padding:3% 11.8% 6.7% 12.1%; width:100%; height:100%;}
iframe, object, embed {max-width: 100%;}


/*====== box items ======= */
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; padding-top:5px; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #47a5ae; vertical-align: middle; transition: all .3s ease-in-out;}
.box > .icon:hover > .image { background: #f58220; }
.box > .icon > .image > span { font-size: 10px !important; color: #fff !important; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.02); border: 1px solid #e0e0e0; padding:0;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 10px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-size: 10px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; transition: all .3s ease-in-out;}
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #47a5ae; }
.box .space { height: 30px; }


/*====== margin ======= */
/* top */
.mar-top0 { margin-top: 0; }
.mar-top5 { margin-top: 5px; }
.mar-top10 { margin-top: 10px; }
.mar-top15 { margin-top: 15px; }
.mar-top20 { margin-top: 20px; }
.mar-top25 { margin-top: 25px; }
.mar-top30 { margin-top: 30px; }
.mar-top35 { margin-top: 35px; }
.mar-top40 { margin-top: 40px; }
.mar-top40 { margin-top: 40px; }
.mar-top120 { margin-top: 120px; }
/* bottom */
.mar-bot0 { margin-bottom: 0; }
.mar-bot5 { margin-bottom: 5px; }
.mar-bot10 { margin-bottom: 10px; }
.mar-bot15 { margin-bottom: 15px; }
.mar-bot20 { margin-bottom: 20px; }
.mar-bot25 { margin-bottom: 25px; }
.mar-bot30 { margin-bottom: 30px; }
.mar-bot35 { margin-bottom: 35px; }
.mar-bot40 { margin-bottom: 40px; }
.mar5 { margin:5px; }
.mar15 { margin:15px; }


/****************inner pages********************/
.content {padding-top:140px; background:#fff} .all-courses {padding-top:140px; background:#fff !important}
@media(max-width:767px) {
.content {padding-top:50px;}
.all-courses {padding-top:50px;}
}
.content h3 {font-family:'Droid Arabic Kufi'!important;line-height:2em;}
.content p {line-height:2.5em}
.content hr {padding:0; margin:15px 0}
.accordion-heading a {color:#002b3c !important; font-size:14px; }
.accordion-inner p, .accordion-inner ol {margin-left: 40px;font-size: 13px; margin-top: -10px; color:#777}
.col-lg-12 ol, .col-lg-12 ul {margin-left: 40px;font-size: 13px; margin-top:0;}
  .login-or {
    position: relative;
    font-size: 11px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 42%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 160px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
.teacher  {margin:25px 0;}
 .teacher .col-md-4 img {-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%; width:224px; height:224px;}

/*====social buttons====*/
.btn-social-icon { position:relative; padding-left:44px; text-align:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height:34px; width:34px; padding:0 }
.btn-social-icon :first-child { position:absolute; left:0; top:0; bottom:0; width:32px; line-height:34px; font-size:1.2em; text-align:center; border-right:1px solid rgba(0, 0, 0, 0.2) }
.btn-social-icon.btn-lg { padding-left:61px }
.btn-social-icon.btn-lg :first-child { line-height:45px; width:45px; font-size:1.8em }
.btn-social-icon.btn-sm { padding-left:38px }
.btn-social-icon.btn-sm :first-child { line-height:28px; width:28px; font-size:.9em }
.btn-social-icon.btn-xs { padding-left:30px }
.btn-social-icon.btn-xs :first-child { line-height:20px; width:20px; font-size:1.2em }
.btn-soundcloud { color:#fff; background-color:#eb992b; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-soundcloud:hover, .btn-soundcloud:focus, .btn-soundcloud:active, .btn-soundcloud.active, .open .dropdown-toggle.btn-soundcloud { color:#fff; background-color:#de8f25; border-color:rgba(0, 0, 0, 0.2) }
.btn-soundcloud:active, .btn-soundcloud.active, .open .dropdown-toggle.btn-soundcloud { background-image:none }
.btn-soundcloud.disabled, .btn-soundcloud[disabled], fieldset[disabled] .btn-soundcloud, .btn-soundcloud.disabled:hover, .btn-soundcloud[disabled]:hover, fieldset[disabled] .btn-soundcloud:hover, .btn-soundcloud.disabled:focus, .btn-soundcloud[disabled]:focus, fieldset[disabled] .btn-soundcloud:focus, .btn-soundcloud.disabled:active, .btn-soundcloud[disabled]:active, fieldset[disabled] .btn-soundcloud:active, .btn-soundcloud.disabled.active, .btn-soundcloud[disabled].active, fieldset[disabled] .btn-soundcloud.active { background-color:#205081; border-color:rgba(0, 0, 0, 0.2) }
.btn-keyboard-o { color:#fff; background-color:#917b32; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-keyboard-o:hover, .btn-keyboard-o:focus, .btn-keyboard-o:active, .btn-keyboard-o.active, .open .dropdown-toggle.btn-keyboard-o { color:#fff; background-color:#83702c; border-color:rgba(0, 0, 0, 0.2) }
.btn-keyboard-o:active, .btn-keyboard-o.active, .open .dropdown-toggle.btn-keyboard-o { background-image:none }
.btn-keyboard-o.disabled, .btn-keyboard-o[disabled], fieldset[disabled] .btn-keyboard-o, .btn-keyboard-o.disabled:hover, .btn-keyboard-o[disabled]:hover, fieldset[disabled] .btn-keyboard-o:hover, .btn-keyboard-o.disabled:focus, .btn-keyboard-o[disabled]:focus, fieldset[disabled] .btn-keyboard-o:focus, .btn-keyboard-o.disabled:active, .btn-keyboard-o[disabled]:active, fieldset[disabled] .btn-keyboard-o:active, .btn-keyboard-o.disabled.active, .btn-keyboard-o[disabled].active, fieldset[disabled] .btn-keyboard-o.active { background-color:#1087dd; border-color:rgba(0, 0, 0, 0.2) }
.btn-facebook { color:#fff; background-color:#467d9c; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook { color:#fff; background-color:#2d5e7a; border-color:rgba(0, 0, 0, 0.2) }
.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook { background-image:none }
.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active { background-color:#3b5998; border-color:rgba(0, 0, 0, 0.2) }
.btn-youtube { color:#fff; background-color:#ba5038; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active, .open .dropdown-toggle.btn-youtube { color:#fff; background-color:#ab432b; border-color:rgba(0, 0, 0, 0.2) }
.btn-youtube:active, .btn-youtube.active, .open .dropdown-toggle.btn-youtube { background-image:none }
.btn-youtube.disabled, .btn-youtube[disabled], fieldset[disabled] .btn-youtube, .btn-youtube.disabled:hover, .btn-youtube[disabled]:hover, fieldset[disabled] .btn-youtube:hover, .btn-youtube.disabled:focus, .btn-youtube[disabled]:focus, fieldset[disabled] .btn-youtube:focus, .btn-youtube.disabled:active, .btn-youtube[disabled]:active, fieldset[disabled] .btn-youtube:active, .btn-youtube.disabled.active, .btn-youtube[disabled].active, fieldset[disabled] .btn-youtube.active { background-color:#ff0084; border-color:rgba(0, 0, 0, 0.2) }
.btn-foursquare { color:#fff; background-color:#0072b1; border-color:rgba(0, 0, 0, 0.2) }
.btn-foursquare:hover, .btn-foursquare:focus, .btn-foursquare:active, .btn-foursquare.active, .open .dropdown-toggle.btn-foursquare { color:#fff; background-color:#005888; border-color:rgba(0, 0, 0, 0.2) }
.btn-foursquare:active, .btn-foursquare.active, .open .dropdown-toggle.btn-foursquare { background-image:none }
.btn-foursquare.disabled, .btn-foursquare[disabled], fieldset[disabled] .btn-foursquare, .btn-foursquare.disabled:hover, .btn-foursquare[disabled]:hover, fieldset[disabled] .btn-foursquare:hover, .btn-foursquare.disabled:focus, .btn-foursquare[disabled]:focus, fieldset[disabled] .btn-foursquare:focus, .btn-foursquare.disabled:active, .btn-foursquare[disabled]:active, fieldset[disabled] .btn-foursquare:active, .btn-foursquare.disabled.active, .btn-foursquare[disabled].active, fieldset[disabled] .btn-foursquare.active { background-color:#0072b1; border-color:rgba(0, 0, 0, 0.2) }
.btn-rss { color:#fff; background-color:#eaca43; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-rss:hover, .btn-rss:focus, .btn-rss:active, .btn-rss.active, .open .dropdown-toggle.btn-rss { color:#fff; background-color:#cfb844; border-color:rgba(0, 0, 0, 0.2) }
.btn-rss:active, .btn-rss.active, .open .dropdown-toggle.btn-rss { background-image:none }
.btn-rss.disabled, .btn-rss[disabled], fieldset[disabled] .btn-rss, .btn-rss.disabled:hover, .btn-rss[disabled]:hover, fieldset[disabled] .btn-rss:hover, .btn-rss.disabled:focus, .btn-rss[disabled]:focus, fieldset[disabled] .btn-rss:focus, .btn-rss.disabled:active, .btn-rss[disabled]:active, fieldset[disabled] .btn-rss:active, .btn-rss.disabled.active, .btn-rss[disabled].active, fieldset[disabled] .btn-rss.active { background-color:#444; border-color:rgba(0, 0, 0, 0.2) }
.btn-google-plus { color:#fff; background-color:#dd4b39; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus { color:#fff; background-color:#ca3523; border-color:rgba(0, 0, 0, 0.2) }
.btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus { background-image:none }
.btn-google-plus.disabled, .btn-google-plus[disabled], fieldset[disabled] .btn-google-plus, .btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active { background-color:#dd4b39; border-color:rgba(0, 0, 0, 0.2) }
.btn-instagram { color:#fff; background-color:#3f729b; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram { color:#fff; background-color:#335d7e; border-color:rgba(0, 0, 0, 0.2) }
.btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram { background-image:none }
.btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active { background-color:#3f729b; border-color:rgba(0, 0, 0, 0.2) }
.btn-linkedin { color:#fff; background-color:#007bb6; border-color:rgba(0, 0, 0, 0.2) }
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin { color:#fff; background-color:#005f8d; border-color:rgba(0, 0, 0, 0.2) }
.btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin { background-image:none }
.btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active { background-color:#007bb6; border-color:rgba(0, 0, 0, 0.2) }
.btn-tumblr { color:#fff; background-color:#2c4762; border-color:rgba(0, 0, 0, 0.2) }
.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr { color:#fff; background-color:#1f3346; border-color:rgba(0, 0, 0, 0.2) }
.btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr { background-image:none }
.btn-tumblr.disabled, .btn-tumblr[disabled], fieldset[disabled] .btn-tumblr, .btn-tumblr.disabled:hover, .btn-tumblr[disabled]:hover, fieldset[disabled] .btn-tumblr:hover, .btn-tumblr.disabled:focus, .btn-tumblr[disabled]:focus, fieldset[disabled] .btn-tumblr:focus, .btn-tumblr.disabled:active, .btn-tumblr[disabled]:active, fieldset[disabled] .btn-tumblr:active, .btn-tumblr.disabled.active, .btn-tumblr[disabled].active, fieldset[disabled] .btn-tumblr.active { background-color:#2c4762; border-color:rgba(0, 0, 0, 0.2) }
.btn-twitter { color:#fff; background-color:#55acee; border-color:rgba(0, 0, 0, 0.2); border:none }
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter { color:#fff; background-color:#309aea; border-color:rgba(0, 0, 0, 0.2) }
.btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter { background-image:none }
.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active { background-color:#55acee; border-color:rgba(0, 0, 0, 0.2) }
.btn-vk { color:#fff; background-color:#587ea3; border-color:rgba(0, 0, 0, 0.2) }
.btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk { color:#fff; background-color:#4a6a89; border-color:rgba(0, 0, 0, 0.2) }
.btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk { background-image:none }
.btn-vk.disabled, .btn-vk[disabled], fieldset[disabled] .btn-vk, .btn-vk.disabled:hover, .btn-vk[disabled]:hover, fieldset[disabled] .btn-vk:hover, .btn-vk.disabled:focus, .btn-vk[disabled]:focus, fieldset[disabled] .btn-vk:focus, .btn-vk.disabled:active, .btn-vk[disabled]:active, fieldset[disabled] .btn-vk:active, .btn-vk.disabled.active, .btn-vk[disabled].active, fieldset[disabled] .btn-vk.active { background-color:#587ea3; border-color:rgba(0, 0, 0, 0.2) }	
.rtl {direction:rtl}