<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _, get_language
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from student.models import CourseEnrollment


from django.conf import settings
LMS_BASE = 'http://' + settings.LMS_BASE


tiny_course_url = 'tinyurl'

%>
<%page args="course" />






<div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="box">
        <div class="icon">
            <div class="image"><i class="fa fa-desktop"></i></div>
            <div class="info"> 
                <img class="img-responsive" src="${course_image_url(course)}">
                <div class="lecturer-data">
                    <div class="users"> <span><i class="fa fa-users"></i> عدد المنضمين : ${CourseEnrollment.enrollment_counts(course.id).get('total')} </span></div>
                    <a title="${get_course_about_section(course, 'title')}" href="${reverse('about_course', args=[course.id])}">
                    <h3 class="text-right clearfix">${get_course_about_section(course, 'title')}<small class="pull-left"> ${course._edit_info.get('category',u'عام')} </small></h3>
                    </a>
                    <p class="zadi_text_fonts"> <i class="fa fa-lightbulb-o"></i> المؤسسة المقدمة للمساق : ${get_course_about_section(course, 'university')} </p>
                </div>
                <div class="more"> <a href="${reverse('about_course', args=[course.id])}" title="Title Link"> <i class="fa fa-angle-double-left"></i> المزيد </a></div>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>







