<%! from django.utils.translation import ugettext as _, get_language %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
homepage_overlay_html = microsite.get_value('homepage_overlay_html')

show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "6UeiGNAdnpg")

show_partners = microsite.get_value('show_partners', True)

%>

<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/jquery.min.js"></script> 


<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="wrapper animate3">
                    <div class="h_iframe"> <img class="img-responsive" src="${static.url('themes/edraak/images/Macbook-Flat.png')}">
                        <iframe src="https://www.youtube.com/embed/6UeiGNAdnpg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="animate4 text-right">
                    <h2 class="intro-text">العلم لمن يريد... </h2>
                    <p>لأي شخص، في أي مكان، و في أي وقت<br>
                        زادي هي مبادرة من مجموعة زاد للتعليم والتنمية</p>
                    <a class="btn btn-info btn-lg" href="all_courses">تصفح جميع المساقات</a> <a class="btn img-responsive" href="#"><img src="${static.url('themes/edraak/images/app-store-94aa4e89e70391b761d4e277310cc3e2.png')}"></a> <a class="btn img-responsive" href="#"><img src="${static.url('themes/edraak/images/google-play-49366ee42b7f06df5673646885b8d78e.png')}"></a> </div>
            </div>
        </div>
        <div class="row mar-bot20 mar-top20">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header animate6">
                    <h2 class="section-heading">شركاؤنــــا</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ltr">
                <div class="responsive-demo animate5">
                    <div class="owl-carousel">
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/190554.png')}"> </div>
                        <div class="article"><img src="${static.url('themes/edraak/images/partner/n/20120505_stc_logo-e1336232873380.jpg')}"> </div>
                        <div class="article"><img src="${static.url('themes/edraak/images/partner/n/a.jpg')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/images.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/index.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/supplier.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/qatar-radio.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/aramco.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/headerlogo.png')}"> </div>
                        <div class="article"> <img src="${static.url('themes/edraak/images/partner/n/logo.png')}"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /partners --> 
</header>
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>مساقات زادي المرتقبة</h2>
                <hr>
            </div>
        </div>






        <!-- Generating Courses here -->
        <div class="row"> 
            <!-- Boxes de Acoes -->

            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

                %for course in sorted( courses, key= lambda course: course.start , reverse=True ):
                    <%include file="course.html" args="course=course" />
                %endfor

            % endif




            <div class="col-xs-12 text-center"> <a href="all_courses" class="btn-info btn-lg"> تصفح جميع المساقات </a> </div>
            <!-- /Boxes de Acoes --> 
        </div>
    </div>


</section>


<section id="how_learn" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>كيف تتعلم مع زادي</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ltr text-center">
                <div class="responsive-demo animate5">
                    <div class="owl-carousel2">
                        <div class="article">
                            <h3>إحصل على شهادة إتمام</h3>
                            <i class="fa flaticon-approval"></i>
                            <p>زادي تمنحك فرصة الحصول على شهادة إتمام لإثبات قدراتك عند النجاح في المساق لأصحاب العمل الذين ينوون التوظيف</p>
                        </div>
                        <div class="article">
                            <h3>حقق أهدافك</h3>
                            <i class="fa flaticon-goal5" ></i>
                            <p>مساقات زادي مصممة لتحتوي تمارين تفاعلية وأنشطة تعلمية لمساعدتك على تقييم تقدمك نحو تحقيق أهدافك التعلمية</p>
                        </div>
                        <div class="article">
                            <h3>إنضم إلى صناع المستقبل</h3>
                            <i class="fa flaticon-user167"></i>
                            <p>تهدف زادي إلى بناء مجتمع تعليمي الكتروني متصل، لذا تتمحور تجربة زادي التعلمية حول التفاعل والمناقشة مع الأساتذة والطلاب</p>
                        </div>
                        <div class="article">
                            <h3>تعلم من الأفضل</h3>
                            <i class="fa flaticon-teacher5"></i>
                            <p> تهدف زادي إلى بناء مجتمع تعليمي الكتروني متصل، لذا تتمحور تجربة زادي التعلمية حول التفاعل والمناقشة مع الأساتذة والطلاب </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>تعاون مع زادي<br>
                </h2>
                <p>تهدف زادي إلى إحداث ثورة في نوع، ومستوى، 
                    وكم التعليم في العالم العربي.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center" >
                <h3><a href="#project-link" class="color-blue">الأساتذة والممارسين</a>
                    <p><i class="fa flaticon-persons8"></i></p>
                </h3>
                <p>تتيح زادي للأكاديميين والممارسين الخبراء فرصة لإلهام الآلاف من المتعلمين العرب المتعطشين للمحتويات الحديثة. ليس ذلك وحسب، بل توفر ...</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3><a href="#project-link" class="color-blue">المؤسسات التعليمية</a>
                    <p> <i class="fa flaticon-school47"></i></p>
                </h3>
                <p>تتيح "زادي" للمؤسسات التعليمية فرصة لإكتشاف عالم من التعليم عبر الإنترنت، واكتساب رؤى من أحدث التحليلات التعليمية ...</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3><a href="#project-link" class="color-blue">الشركات</a>
                    <p><i class="fa flaticon-two205"></i> </p>
                </h3>
                <p>تتيح "زادي" للشركات فرصة لتدريب وتقييم موظفيها الحاليين والمحتملين بطريقة مبتكرة على الإنترنت. يمثل أيضاً إنشاء مساق إلكتروني واسع ...</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center"> <a href="contact.html" class="btn-info btn-lg"> شاركنا </a> </div>
        </div>
    </div>
</section>



<div class="scroll-top page-scroll visible-xs visble-sm"> <a class="btn btn-primary" href="#page-top"> <i class="fa fa-chevron-up"></i> </a> </div>


