<!DOCTYPE html>
{% load compressed %}{% load sekizai_tags i18n microsite %}{% load url from future %}{% load staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  {% block title %}<title>{% platform_name %}</title>{% endblock %}

 <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />


  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}
  {% compressed_css 'style-course-vendor' %}
  {% compressed_css 'style-course' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% microsite_css_overrides_file %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <!-- All Below Related to ZADI's Design -->
  <!-- Fonts -->
  <link href="/static/themes/edraak/css/zadi_fonts.css" rel='stylesheet' type='text/css'>
  <link href="/static/themes/edraak/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/themes/edraak/css/flaticon.css" rel="stylesheet" type="text/css" >
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>



  <link rel="stylesheet" href="/static/themes/edraak/css/bootstrap.min.css">
  <link href="/static/themes/edraak/css/owl.carousel.css" rel="stylesheet">
  <link href="/static/themes/edraak/css/owl.theme.css" rel="stylesheet">
  <link href="/static/themes/edraak/css/animate.css" rel="stylesheet" type="text/css">  
  <link href="/static/themes/edraak/css/zadi.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/bootstrap.min.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/owl.carousel.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/main.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/classie.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/cbpAnimatedHeader.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/jquery.easing.min.js"></script> 
 

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
  <a class="nav-skip" href="{% block nav_skip %}#content{% endblock %}">{% trans "Skip to this view's content" %}</a>
 

<div class="modal fade bootstrap-modal ltr" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog rtl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">دخول</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="col-md-12">
                        <div class="row text-center">
                            <div class="col-md-6  col-sm-12">
                                <button type="button" class="btn btn-facebook btn-block"> <i class="fa-facebook fa"></i> تسجيل بحساب فيسبوك</button>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <button type="button" class="btn btn-twitter btn-block"><i class="fa-twitter fa"></i> تسجيل بحساب تويتر</button>
                            </div>
                        </div>
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">أو التسجيل بالبريد الإلكتروني</span> </div>
                        <div class="form-group">
                            <label class='control-label'>البريد الإلكتروني</label>
                            <input type="text" class="form-control" placeholder="بريدك الإلكتروني ..">
                        </div>
                        <div class="form-group">
                            <label class='control-label'>كلمة المرور</label>
                            <input type="password" class="form-control" placeholder="كلمة المرور ..">
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me">
                                تذكرني </label>
                        </div>
                        <div class="forget-password">
                            <p> ليس لديك حساب؟ <a class="links" data-dismiss="modal" aria-hidden="true" href="register.html" role="button" data-toggle="modal" id="signin-id" rel="nofollow">تسجيل</a> </p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block">دخول</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>
<!--/end pop-up--> 


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    
    <!-- width style is bad for responsive designs, need to be replaced the soonest -->

    <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="/static/themes/edraak/images/logo.png"></a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden"> <a href="#page-top"></a> </li>
                <li> <a href="/about">عن زادي</a> </li>
                <li > <a href="/#how_learn">كيف تتعلم مع زادي</a> </li>
                <!-- <li> <a href="#">المساقات</a> </li>--> 
                <!-- <li> <a href="#">فرص التعاون</a> </li>-->
                <li> <a href="#"> اقترح مادة شرعية </a> </li>
                <li> <a href="#">قدم مادتك</a> </li>
    
                {% if user.is_authenticated %}


                <!-- <li> <a href="/register" class="btn btn-info">تسجيل</a> </li> -->
                <!-- <li> <a href="login" data-toggle="modal" data-target=".bootstrap-modal" class="btn btn-success">دخول</a> </li> -->
                <li> <a href="/logout" class="btn btn-success">خروج</a> </li>

                {% else %}

                <li> <a href="/register" class="btn btn-info">تسجيل</a> </li> 
                <!-- <li> <a href="login" data-toggle="modal" data-target=".bootstrap-modal" class="btn btn-success">دخول</a> </li> -->

                
                <!-- The original line in the  design -->
                <!-- <li> <a href="" class="btn btn-success">دخول</a> </li> -->



                    {% if course and settings.FEATURES.RESTRICT_ENROLL_BY_REG_METHOD and course.enrollment_domain %}
                      <li> <a class="btn btn-success" href="${reverse('course-specific-login', args=[course.id])}${login_query()}">دخول</a> </li>
                    {% else %}
                      <li> <a class="btn btn-success" href="/login${login_query()}">دخول</a> </li>

                    {% endif %}
                
                {% endif %}




            </ul>
        </div>
        <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
</nav>




  <div class="content-wrapper" id="content">
    {% block body %}{% endblock %}
    {% block bodyextra %}{% endblock %}
  </div>
  {% if IS_REQUEST_IN_MICROSITE %}
  {# For now we don't support overriden Django templates in microsites. Leave footer blank for now which is better than saying Edx.#}
  {% elif IS_EDX_DOMAIN %}
    {% include "footer-edx-new.html" %}
  {% else %}
    {% include "footer.html" %}
  {% endif %}

  {% compressed_js 'application' %}
  {% compressed_js 'module-js' %}

  {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
