
## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.utils import translation

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

<%! from microsite_configuration import microsite %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block cached="False">
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>


<!-- All Below Related to ZADI's Design -->
  <!-- Fonts -->
<link href="/static/themes/edraak/css/zadi_fonts.css" rel='stylesheet' type='text/css'>
<link href="/static/themes/edraak/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/themes/edraak/css/flaticon.css" rel="stylesheet" type="text/css" >
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/themes/edraak/css/bootstrap.min.css">
<link href="/static/themes/edraak/css/owl.carousel.css" rel="stylesheet">
<link href="/static/themes/edraak/css/owl.theme.css" rel="stylesheet">
<link href="/static/themes/edraak/css/animate.css" rel="stylesheet" type="text/css">  
<link href="/static/themes/edraak/css/zadi.css" rel="stylesheet" type="text/css">


<div class="modal fade bootstrap-modal ltr" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog rtl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">دخول</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="col-md-12">
                        <div class="row text-center">
                            <div class="col-md-6  col-sm-12">
                                <button type="button" class="btn btn-facebook btn-block"> <i class="fa-facebook fa"></i> تسجيل بحساب فيسبوك</button>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <button type="button" class="btn btn-twitter btn-block"><i class="fa-twitter fa"></i> تسجيل بحساب تويتر</button>
                            </div>
                        </div>
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">أو التسجيل بالبريد الإلكتروني</span> </div>
                        <div class="form-group">
                            <label class='control-label'>البريد الإلكتروني</label>
                            <input type="text" class="form-control" placeholder="بريدك الإلكتروني ..">
                        </div>
                        <div class="form-group">
                            <label class='control-label'>كلمة المرور</label>
                            <input type="password" class="form-control" placeholder="كلمة المرور ..">
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me">
                                تذكرني </label>
                        </div>
                        <div class="forget-password">
                            <p> ليس لديك حساب؟ <a class="links" data-dismiss="modal" aria-hidden="true" href="register.html" role="button" data-toggle="modal" id="signin-id" rel="nofollow">تسجيل</a> </p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block">دخول</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>
<!--/end pop-up--> 


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    
    <!-- width style is bad for responsive designs, need to be replaced the soonest -->

    <div class="container" style="width:auto;"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/courses"><img class="img-responsive" src="${static.url('themes/edraak/images/logo.png')}"></a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden"> <a href="#page-top"></a> </li>
                <li> <a href="/about">عن زادي</a> </li>
                <li > <a href="/courses/#how_learn">كيف تتعلم مع زادي</a> </li>
                <!-- <li> <a href="#">المساقات</a> </li>--> 
                <!-- <li> <a href="#">فرص التعاون</a> </li>-->
                <li> <a href="#"> اقترح مادة شرعية </a> </li>
                <li> <a href="#">قدم مادتك</a> </li>
    
                % if user.is_authenticated(): 


                <li> <a href="/dashboard" class="btn btn-info">مساقاتي</a> </li>
                <!-- <li> <a href="login" data-toggle="modal" data-target=".bootstrap-modal" class="btn btn-success">دخول</a> </li> -->
                <li> <a href="${reverse('logout')}" class="btn btn-success">خروج</a> </li>

                % else:

                <li> <a href="/register" class="btn btn-info">تسجيل</a> </li> 
                <!-- <li> <a href="#" data-toggle="modal" data-target=".bootstrap-modal" class="btn btn-success">دخول</a> </li> -->

                
                <!-- The original line in the  design -->
                <!-- <li> <a href="" class="btn btn-success">دخول</a> </li> -->



                    % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                      <li> <a class="btn btn-success" href="${reverse('course-specific-login', args=[course.id])}${login_query()}">دخول</a> </li>
                      % else:
                      <li> <a class="btn btn-success" href="/login${login_query()}">دخول</a> </li>

                    % endif
                
                % endif




            </ul>
        </div>
        <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
</nav>



