## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _
from django.utils import translation %>
<%namespace name='static' file='static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

 


<footer class="text-center">
    <div class="footer-above">
        <div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline list1">
                        <li><a href="https://www.facebook.com/pages/منصة-زادي/920979044615310" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a> </li>
                        <li><a href="https://plus.google.com/109670735765562284997" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a> </li>
                        <li><a href="https://twitter.com/zadi_mooc" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a> </li>
                        <li><a href="https://www.youtube.com/channel/UCTxweNNrShkL9GTNSay4X4w" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a> </li>
                        <li><a href="https://instagram.com/zadi_mooc/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                    <ul class="list-inline list2">

                        <li><a href="/about" class="btn-sm"><small>عن زادي</small></a></li>
                        <li><a href="/contact" class="btn-sm"><small>تواصل مع زادي</small></a></li>
                        <li><a href="/faq" class="btn-sm"><small>الأسئلة المتكررة</small></a></li>
                        <li><a href="/tos" class="btn-sm"><small>شروط الخدمة</small></a></li>
                        <li><a href="/privacy" class="btn-sm"><small>سياسة الخصوصية</small></a></li>
                    </ul>
                    </p>
                    <p style="text-align:center">زادي هي مبادرة من مجموعة زاد للتعليم والتنميةزادي هي مبادرة من مجموعة زاد للتعليم والتنمية © 1436 / 2015 </p>
                </div>
            </div>
        </div>
    </div>
</footer>




<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/bootstrap.min.js"></script> 
<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/owl.carousel.js"></script> 
<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/main.js"></script> 
<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/classie.js"></script> 
<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/cbpAnimatedHeader.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/themes/edraak/js/jquery.easing.min.js"></script> 


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-63733058-1', 'auto');
  ga('send', 'pageview');
 
</script>