body:not(.edraak-course-about-body) {
  header.global.slim {
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      width: auto;
    }

    ol.user {
      margin-top: 4px;
    }

    ol.language-select {
      margin-top: 8px;
    }

    .container {
      margin-top: 0;

      div {
        box-shadow: none;
        border: none;
      }
    }
  }

  nav.course-material {
    ol.course-tabs {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
