.dashboard {
  .my-courses {
    .course {
      .info {
        .enter-course {
          @include float(left);;

          & + a {
            @include ltr {
              clear: left;
            }

            @include rtl {
              clear: right;
            }
          }
        }
      }
    }
  }
}